.basket-nav{
  background: rgb(#000, 0.5);
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-radius: 25px 0 0 25px;
  width: 6%;

  &-item{
    background: transparent;
    border-bottom: 1px solid #ffffff38;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    gap: .5rem;
    min-height: 70px;
    font-size: .8rem;
    padding: 1rem 0;

    &:last-child{
      border-bottom: 1px solid transparent;
    }

    img{
      height: 20px;
    }
  }
  &-item:hover{
    border: 1px solid #ffffff38;
  }
}
