.header-state{
    gap: 2rem !important;

    &-link{
        justify-content: center;
        align-items: center;
        gap: .5rem;

        &:last-child{
            .header-state-state{
                text-align: right;
            }
        }

    }

    &-title{
        font-size: .9rem;
        color: #fff;
        letter-spacing: 1px;
    }

    &-state{
        margin-top: -.15rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .65rem;
        color: rgba(#fff, .5);
    }
}

@media only screen and (max-width:991px) {
    .header-state-link{
        text-align: center;
        flex-direction: column;
    }

    .header-state-state{
            text-align: center !important;
    }
}

.headerIcon{
    font-size: 22pxs;
}