.notifications {
    margin-top: 2rem;

    &-title{
        color: #ffffff57;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: .95rem;
        margin-bottom: .5rem;
        
        svg{
            width: 20px;
        }
    }

    &-item{
        width: max-content;
        margin-top: .5rem;
    }
    &-item {
        cursor: pointer;
        display: flex;
        gap: .75rem;
        background: rgba(#000, 0.05);
        padding: 1rem 1.25rem;
        width: max-content;
        border-radius: 15px;
        min-width: 350px;
        transition: .3s background ease;

        &:hover{
            background: rgba(#000, 0.1);
        }
    }

    &-item {
        &-image {
            height: 30px;
            width: auto;
            border-radius: 30px;
        }

        &-title {
            font-size: 1rem;
            color: #fff;
        }

        &-time{
            opacity: .5;
            color: #fff;
        }
    }
}

@media only screen and (max-width:991px) {
    .notifications-item, .notifications-item a{
        width: 100%;
    }
}

