.header-nav{
    &-ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    margin-left: 2rem;

    &-item a{
        color: #fff;
        transition: .3s opacity ease;
        
        &:hover{
            opacity: .75;
        }
    }
    }
}

@media screen and (max-width:992px) {
    .header{
        &-nav-ul{
            margin-left: 0 !important;
        }
    }
}
