.login{
  width: 30vw;
  background: rgb(#000, 0.5);
  border-radius: 1.25vw;
  height: max-content;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  &-form{
    padding: 25px 20px 10px 20px;
    &-title{
      color: ghostwhite;
    }
    &-desc{
      color: ghostwhite;
      font-size: 12px;
    }

    &-loginBtn{
      color: #fff;
      width: 100%;
      font-size: 16px;
      background: rgb(#000, 0.6);
      border:#34215e;
      padding: 15px;
      font-weight: 600;
    }
    &-loginBtn:hover{
      background: rgb(#000, 0.5);
      border: #F22151;
    }
    &-reg{
      font-weight: 600;
      font-size: 18px;
      padding: 10px 0px;
      color:#fa0753;
    }
  }
  &-input{
    background: rgb(#000, 0.5);
    border: 1px solid #ddd;
    border-radius: 1.25vw;
    padding: 17px;
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  &-center{
    text-align: center;
    color: #2c2c2c;
  }



}