.header{
    background: #9CCC65;
    margin-bottom: 5rem;
    &-row{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    &-logo img{
        height: 36px;
    }

    &-exit{
        background: none;
        border:0;
        color: #ff382d;
        font-size: 32px;
    }
}

.d-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width:991px) {
    .header{
        margin-bottom: 2rem;
    }

    .header .container{
        flex-direction: column;
    }
}