.content {
  &-top {
    &-right {
      .orders-close {
        width: 35px;
        height: 35px;
        border-radius: 45px;
        padding: 0px;
        display: grid;
        place-items: center;
        color: #201e1e94;
        background-color: #d6d2d9;
      }
    }
  }
}


.content {
  display: flex;
  flex-direction: column;
}

.content-title {
  color: rgb(43, 43, 118);
  font-weight: 600;
  font-size: 18px;
  gap: 8px;

  svg {
    color: #7777;
    height: 18px;
  }
}

.content-top {
  &-price {
    &-title {
      font-size: 11px;
      color: rgba(28, 28, 76, 0.519);
      text-transform: uppercase;
      font-weight: 600;
    }

    &-value {
      font-size: 24px;
      color: rgb(28, 28, 76);
      font-weight: 600;
      line-height: 1.65rem;

      &-pink {
        color: rgb(228, 63, 132);
      }
    }
  }
}

.bill {
  &-top {
    background: #525274;
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    overflow: hidden;

    &-price {
      padding: 8px;
      margin-top: .85rem;
      padding-bottom: 0;

      &-item {
        background: linear-gradient(145deg, #6F6F8B, rgb(207, 207, 207));
        border: 0;
        border-radius: 12px 12px 0 0;
      }
    }

    .button-pink {
      height: 60px;
      border-radius: 0;
      text-transform: none;
      font-weight: 500;
      background-color: #DC1862;
    }
  }

  &-content {
    background: #6E7391;
    padding: 1.75rem 8px;
  }

  &-item {
    background: #fff;
    display: flex;
    align-items: center;
    width: max-content;
    color: #2e2e2ea8;
    padding: 6px 16px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
    font-weight: 600;

    .orders-close {
      height: 25px;
      width: 25px;
      border-radius: 25px;
      padding: 0px;
      margin-right: 0;
      color: #201e1e94;
      background-color: #e3e0e0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 0 0 12px 12px;
  }

  &-calc-col {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  &-calc {
    &-item {
      border: 0;
      height: 50px;
      text-align: left;
      background: #535274;

      svg {
        height: 18px;
        color: #fff;
      }

      &:not(&-active) {
        svg {
          display: none;
        }
      }

      &-active {
        background: #DC1862;
      }
    }
  }
}

.bill-calc-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem 1rem;
  margin-top: 1rem;

  svg {
    display: block !important;
    height: 35px;
  }

  .bill-calc-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #111224, #47495E);

    &-enter {
      flex-direction: column;
      font-size: 12px;
      grid-row: span 2;
      text-transform: uppercase;
      height: 100%;

      svg {
        height: 18px;
        margin-bottom: .5rem;
      }
    }
  }

  .bill-calc-item:hover {
    background-color: #2c3e50;
  }
}